<%-  include ./partials/header %>
   <!-- inner page section -->
   <section class="inner_page_head">
      <div class="container_fuild">
         <div class="row">
            <div class="col-md-12">
               <div class="full">
                  <h3>About us</h3>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- end inner page section -->
    <!-- About us -->
    
    <!--End About us -->

    <%-  include ./partials/footer %>